# Base de donnéees - Mysql
MYSQL_VERSION=8.0.32
MYSQL_CHARSET=utf8mb4
MYSQL_DATABASE=guesthouse_db
MYSQL_USER=guesthouse
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

## Base de données - MongoDB
MONGO_HOST=mongo
MONGO_DB=guesthouse
MONGO_USER=guesthouse_user
MONGO_PASSWORD=change_me

# Symfony
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=!ChangeMe!

# Docker / Serveur
SERVER_NAME=localhost
HTTP_PORT=8090
HTTPS_PORT=443
HTTP3_PORT=

# mercure
CADDY_MERCURE_JWT_SECRET=!ChangeMeMercureSecret!

# symfony/mailer
MAILER_DSN=smtp://mailhog:1025