@use "../utils/variables";
@use "../utils/colors";

footer {
    min-height: variables.$footer-height-mobile;
    background-color: colors.$darkblue;
    color: colors.$gold;

    a {
        color: colors.$gold;
        text-decoration: none;
    }

    i {
        color: colors.$gold;
    }

    ul {
        margin: 0;
    }

    @media (min-width: 768px) {
        min-height: variables.$footer-height-desktop;
    }
}
