@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Source Sans 3", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #f5f5dc;
  color: #8b4513;
}

header,
footer {
  flex-shrink: 0; /* Empêche le header/footer de rétrécir */
  background-color: #1e3a5f;
}

a {
  color: #ba912c;
  text-decoration: none;
}

main {
  flex-grow: 1; /* prend tout l'espace disponible */
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
}

.custom-size {
  width: 100%;
}
@media (min-width: 768px) {
  .custom-size {
    width: unset;
  }
}

.navbar {
  min-height: 60px;
  background-color: #1e3a5f;
}
.navbar a {
  color: #f5f5dc;
}
.navbar a:hover {
  color: #ba912c;
}
.navbar .navbar-brand .logo {
  height: 40px;
  width: auto;
  max-width: 100%;
}
@media (max-width: 992px) {
  .navbar .navbar {
    min-height: 55px;
  }
  .navbar .navbar-brand .logo {
    height: 32px;
  }
}

footer {
  min-height: 310px;
  background-color: #1e3a5f;
  color: #ba912c;
}
footer i {
  font-size: 2rem;
}
footer a,
footer i {
  color: #ba912c;
}
footer a:hover,
footer i:hover {
  color: #f5f5dc;
}
footer ul {
  margin: 0;
}
@media (min-width: 768px) {
  footer {
    min-height: 190px;
  }
}

.btn {
  background-color: #8b4513;
  border: #ba912c solid 0.5px;
  color: #f5f5dc;
}

.btn:hover {
  background-color: #ba912c;
  color: #f5f5dc;
}

label {
  color: #ba912c;
}

.pictures-list {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

#carousel-gallery .carousel-inner {
  height: 240px;
  overflow: hidden;
}
@media (min-width: 768px) {
  #carousel-gallery .carousel-inner {
    height: 700px;
  }
}
#carousel-gallery .carousel-inner .carousel-item {
  height: 100%;
}
#carousel-gallery .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-room {
  height: 250px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .search-room {
    height: 500px;
  }
}
.search-room img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #ba912c;
  border-radius: 0.4rem;
}

.card {
  border: 2px solid #ba912c;
  border-radius: 0.4rem;
}
.card .card-header,
.card .card-footer {
  background-color: #1e3a5f;
}
.card .card-header {
  color: #ba912c;
}
.card .card-footer {
  color: #f5f5dc;
}

.card-form {
  background-color: #1e3a5f;
}

#hero h1 {
  font-size: 2.8rem;
}
#hero img {
  max-width: 350px;
}
@media (min-width: 576px) {
  #hero img {
    max-width: 550px;
  }
}
@media (min-width: 768px) {
  #hero img {
    min-width: 400px;
  }
}

#home .logo {
  max-width: 100px;
  margin: 1rem;
}
#home .logo img {
  width: 100%;
}
#home .img-home {
  max-width: 475px;
}
#home .img-home img {
  width: 100%;
}
#home h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
#home h3 {
  margin-bottom: 2rem;
}
#home p {
  margin: 3rem auto;
}

#search-bar-room {
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Page adoption */
#adoption {
  padding-top: 8rem;
}

/*# sourceMappingURL=style.css.map */
