@use "../utils/colors";

.btn {
    background-color: colors.$bs-green;
    border: colors.$bs-brown solid 0.5px;
    color: colors.$bs-brown;
}

.btn:hover {
    background-color: colors.$bs-darkgreen;
    color: colors.$bs-green;
}
