@use "../utils/colors";

.btn {
    background-color: colors.$brown;
    border: colors.$gold solid 0.5px;
    color: colors.$beige;
}

.btn:hover {
    background-color: colors.$gold;
    color: colors.$beige;
}
