@use "../utils/colors";

.btn {
    background-color: colors.$bs-brown;
    border: colors.$bs-gold solid 0.5px;
    color: colors.$bs-beige;
}

.btn:hover {
    background-color: colors.$bs-gold;
    color: colors.$bs-beige;
}
