@use "../utils/colors";

#home,
#adress {
    background-color: colors.$bs-beige;
}

.hero {
    width: 650px;
}

.logo {
    width: 100px;
}

.img-home img {
    width: 400px;
}

.hero img,
.img-home img,
.logo img {
    width: 100%;
}
